[tool.poetry]
name = "nidaqmx"
version = "0.8.0-dev0"
license = "MIT"
description = "NI-DAQmx Python API"
authors = ["NI <opensource@ni.com>"]
maintainers = ["Zach Hindes <zach.hindes@ni.com>", "Maxx Boehme <maxx.boehme@ni.com>"]
readme = "README.rst"
repository = "https://github.com/ni/nidaqmx-python"
documentation = "https://nidaqmx-python.readthedocs.io"
keywords = ["nidaqmx", "nidaq", "daqmx", "daq"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Manufacturing",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Topic :: System :: Hardware :: Hardware Drivers"
]
exclude = ["nidaqmx/tests"]
packages = [{ include = "nidaqmx", from = "generated" }]

[tool.poetry.dependencies]
python = "^3.7"
numpy = [
  # numpy 1.22 dropped support for Python 3.7.
  {version=">=1.20,<1.22", python="<3.8"},
  {version=">=1.22", python="^3.8"},
]
deprecation = ">=2.1"
# This functionality was merged into python stdlib beginning in 3.8
importlib_metadata = {version="^4.2", python="~3.7"}
# Documentation, must be in main dependencies (but optional) list for
# readthedocs integration.
# See https://github.com/readthedocs/readthedocs.org/issues/4912.
Sphinx = {version="^4.3", optional=true}
sphinx_rtd_theme = {version="^1.0", optional=true}
grpcio = { version = "^1.49.0", optional = true }
protobuf = { version = "^4.21", optional = true }

[tool.poetry.extras]
docs = ["sphinx", "sphinx_rtd_theme"]
grpc = ["grpcio", "protobuf"]

# Test
[tool.poetry.group.dev.dependencies]
pytest = ">=7.2"
pytest-cov = ">=4.0"
pytest-mock = ">=3.0"
pykka = "^3.0"
tox = "^3.24"
ni-python-styleguide = ">=0.4.1"
sphinx_rtd_theme = "1.0"
mypy = ">=1.0"
types-protobuf = "^4.21"

[tool.poetry.group.codegen.dependencies]
click = "^8.1"
Mako = "^1.2"
grpcio-tools = "1.49.1"
mypy-protobuf = ">=3.4"

[tool.black]
line-length = 100
extend_exclude = "docs,generated,src/codegen/metadata,src/codegen/templates"

[tool.ni-python-styleguide]
extend_exclude = "docs,generated,src/codegen/metadata,src/codegen/templates,src/handwritten"

[tool.pytest.ini_options]
addopts = "--doctest-modules --strict-markers"
filterwarnings = ["always::ImportWarning", "always::ResourceWarning"]
testpaths = ["tests"]
markers = [
  # Defines custom markers used by nidaqmx tests. Prevents PytestUnknownMarkWarning.
  "library_only: tests only the library interpreter implementation.",
  "grpc_only: tests only the grpc interpreter implementation.",
  "new_task_name: name of the new task to be created.",
  "device_name: name of the device used for testing.",
]

[build-system]
requires = ["poetry>=1.2"]
build-backend = "poetry.masonry.api"