[tool.poetry]
name = "nidaqmx"
version = "0.7.1"
license = "MIT"
description = "NI-DAQmx Python API"
authors = ["NI <opensource@ni.com>"]
maintainers = ["Zach Hindes <zach.hindes@ni.com>", "Maxx Boehme <maxx.boehme@ni.com>"]
readme = "README.rst"
repository = "https://github.com/ni/nidaqmx-python"
documentation = "https://nidaqmx-python.readthedocs.io"
keywords = ["nidaqmx", "nidaq", "daqmx", "daq"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Manufacturing",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Topic :: System :: Hardware :: Hardware Drivers"
]
exclude = ["nidaqmx/tests"]
packages = [{ include = "nidaqmx", from = "generated" }]

[tool.poetry.dependencies]
python = "^3.7"
numpy = [
  # numpy 1.22 dropped support for Python 3.7.
  {version=">=1.20,<1.22", python="<3.8"},
  {version=">=1.22", python="^3.8"},
]
deprecation = ">=2.1"
# This functionality was merged into python stdlib beginning in 3.8
importlib_metadata = {version="^4.2", python="~3.7"}
# Documentation, must be in main dependencies (but optional) list for
# readthedocs integration.
# See https://github.com/readthedocs/readthedocs.org/issues/4912.
Sphinx = {version="^4.3", optional=true}
sphinx_rtd_theme = {version="^1.0", optional=true}

[tool.poetry.extras]
docs = ["sphinx", "sphinx_rtd_theme"]
grpc = ["grpcio", "protobuf"]

[tool.poetry.dev-dependencies]
# Test
pytest = ">=7.2"
pytest-cov = ">=4.0"
pykka = "^3.0"
tox = "^3.24"
click = "^8.1"
Mako = "^1.2"
ni-python-styleguide = "^0.4"
sphinx_rtd_theme = "1.0"
poetry-grpc-plugin = "^0.1.0"
grpcio = { version = "^1.49.0", optional = true }
protobuf = "^3.20"

[tool.black]
line-length = 100
extend_exclude = "docs,generated,src/codegen/metadata,src/codegen/templates"

[tool.ni-python-styleguide]
extend_exclude = "docs,generated,src/codegen/metadata,src/codegen/templates,src/handwritten"

[build-system]
requires = ["poetry>=1.1.12"]
build-backend = "poetry.masonry.api"