name: Build

on:
  workflow_call:
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on:
      - ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.9", "3.14"] # oldest supported and latest tested
    env:
      codegen-python-version: "3.9"
    steps:
      - name: Check out repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          submodules: true
      - name: Set up Python
        uses: ni/python-actions/setup-python@9768589f3e50672173dad75a6fc181e4a85d33fa # v0.7.0
        id: setup-python
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@9768589f3e50672173dad75a6fc181e4a85d33fa # v0.7.0
      - name: Run linters and type checkers
        uses: ni/python-actions/analyze-project@9768589f3e50672173dad75a6fc181e4a85d33fa # v0.7.0
        with:
          install-args: "--all-extras --with examples"
      - name: Run Bandit security checks
        run: poetry run bandit -c pyproject.toml -r generated/nidaqmx
      - name: Generate ni-daqmx files
        if: ${{ runner.os == 'Linux' && matrix.python-version == env.codegen-python-version }}
        run: |
          rm -fr generated/nidaqmx
          poetry run python src/codegen --dest generated/nidaqmx
      - name: Check for files dirtied by codegen
        if: ${{ runner.os == 'Linux' && matrix.python-version == env.codegen-python-version }}
        run: git diff --exit-code
