name: PR

on:
  pull_request:
    branches:
      - master
      - 'releases/**'
  workflow_call:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run_ci:
    name: Run CI
    uses: ./.github/workflows/CI.yml
    permissions:
      checks: write
      pull-requests: write
