name: Run system tests

on:
  workflow_call:
  workflow_dispatch:
jobs:
  run_system_tests:
    name: Run system tests
    runs-on:
      - self-hosted
      - windows
      - x64
      - rdss-nidaqmxbot-${{ matrix.configuration }}
    strategy:
      matrix:
        configuration: ["win-10-py32", "win-10-py64"]
    timeout-minutes: 90
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Install dependencies
        run: poetry install
      - name: Run system tests
        run: poetry run tox
      - name: Rename test results
        run: |
          for result in test_results/*.xml; do
            mv $result ${result%.xml}_${{ matrix.configuration }}.xml
          done
        shell: bash
        if: always()
      - name: Upload test results
        uses: actions/upload-artifact@v3
        with:
          name: test_results
          path: test_results/*.xml
        if: always()